*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(img/dark-green-texture_1205-338.webp);
    display: flex;
    flex-direction: column;
}

/*Header*/
header{
    height: 100px;
    width: 100%;
    background-color: rgb(30,53,109);
    display: flex;
    justify-content: center;
}
#logo-div {
    display: flex;
    justify-content: center;
    margin:6px 40px;
    align-items: center;
}
#header-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-img {
    max-height: 80px;
}
#header-div h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 45px;
}

/*Main*/
main{
    width: 100%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

/* .toggle-nav, alltså Notes eller To-do knapparna */ 
.toggle-nav {

    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 110px;
    width: 100%;
}

.toggle-nav a {
    background-color:  rgb(68,140,93);
    padding: 15px;
    border: 2px white solid;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(43, 39, 39);
}

.toggle-nav a:hover {
    background-color: rgba(214, 208, 208, 0.74);
}

/*footer*/
footer{
    background-color: rgb(30,53,109);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
}

/*Footer Nav*/
#nav-box{
    display: flex;
    flex-direction: row;
}
.footer-nav-button{
    background-color: rgb(68,140,93);
    height: 74px;
    width: 70px;
    margin: 13px 10px;
    border-radius: 20%;
    border: solid white;
    border-color: rgba(255, 255, 255, 0.63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-nav-button:hover{
    background-color: rgb(31,71,72);
    border: solid white;
    border-color:rgb(68,140,93);
}
.footer-nav-button img {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}
.footer-nav-button h5 {
    font-size: 10px;
    color: white;
}
#nav-logos{
    display: flex;
    justify-content: center;
}

/*copyright pimordie*/
#copyright-pimordie{
    height: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    padding: 15px 0;
}
#copyright-pimordie h4{
    color: rgb(255, 255, 255, 0.3);
}
#copyright-pimordie h4:hover{
   color:white;
}

/*Notes-page*/
#notes-page {
    height: calc(100vh - 280px); /*footer 100px, togglenav 80px, header 100px*/
    width: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#notes-menu { /*notes-list + add-note*/
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}
#notes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    row-gap: 10px;
    padding-right: 20px;
    overflow-x: hidden;
}
.note-list-item {
    width: 200px;
    display: flex;
    align-items: center;
    color: white;
    
}
#add-note {
    background-color:rgb(68,140,93);
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 166px;
    margin-left: 34px;
    border-radius: 0.5cm;
    border:solid white;
    
}

#add-note:hover {
    background-color:rgba(255,255,255,0.5);
}
.notes-trashcan {
    height: 20px;
    margin-right: 10px;
}
.notes-trashcan:hover {
    background-color: rgba(0,0,0,0.5);
}
.note-button {
    background-color: rgb(30,53,109);
    padding: 10px;
    display: flex;
    width: 100%;
    border-radius: 0.5cm;
    border:solid white;
}
.note-button:hover {
    background-color: rgba(255,255,255,0.5);
}
#currently-displayed-note {
    background-color: rgb(30,53,109);
    width: 700px;
    overflow: auto;
    padding: 40px;
    color: white;
    border-radius: 1.5cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.note-input-field{
    width: 100%;
    height: 80%;
    background-color: rgba(23, 41, 85, 0.5);
    color: white;
    border: none;
    outline: none;
    resize: none;
    padding: 5px;
    font-size: 20px;
    margin-top: 5px;
}
.save-button{

    padding-left: 5px;
    padding-top: 10px;
    font-size: 30px;
    line-height: 20px;
    border-top-left-radius: 0.2cm;
    border-top-right-radius: 0.2cm;
}
#notes-input {
    flex-grow: 1;
    border-bottom-left-radius: 0.2cm;
    border-bottom-right-radius: 0.2cm;
    margin-bottom: 10px;
}
#save-note-button{
    background-color:rgb(68,140,93);
    border-radius: 0.5cm;
    height: 50px;
    width: 80px;
    color: white;

    
}
#save-note-button:hover{
    background-color: rgba(255,255,255,0.5);
}

#noteTitle{
    width: 90%;
    font-size: 40px;
    background-color: rgba(23, 41, 85, 0.5);
    color: white;
    border: none;
    outline: none;
    resize: none;
}

/*Social/download side*/
#social-box{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#social{
    width: auto;
    text-decoration: none;
    height: 20%;
    font-size: 25px;
    color: rgba(189, 191, 196, 0.603);
    font-family: 'Play', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}
strong{
    width: 150px;
    display: flex;
    justify-content: right;
    align-items: center;

}
#social:hover{
    color: white;
}

/*#Contact*/
#contact-leftside{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(30,53,109);
    color: white;
    border: solid rgb(255, 255, 255, 0.5);
    border-bottom-left-radius: 1.5cm;
    border-top-left-radius: 1.5cm;
    
}
#contact-header{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#contact-headline{
    margin-top: 15px;
    font-size: 40px;
    padding-left: 50px;
}
#contact-subline{
    font-size: 30px;
    padding-left: 50px;
}
#contact-main{
    height: 80%;
    width: 100%;
    display: flex;
    padding-left: 50px;


}
#contact-contact{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;

}
#contact-phone{
    display: flex;
    height: 33%;
    align-items: center;
}
#contact-email{
    display: flex;
    height: 34%;
    align-items: center;
}
#contact-address{
    display: flex;
    height: 33%;
    align-items: center;
}
#contact-logo{
    display: flex;
    height: 30px;
    width: 30px;
    border:solid white;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 30%;
}
#contact-text{
    height: 25px;
    width: 400px;
    font-size: 20px;
    padding-left: 15px;
    align-items: center;
}



#contact-rightside{

    border-bottom-right-radius: 1.5cm;
    border-top-right-radius: 1.5cm;
    border-top: solid white;
    border-bottom: solid white;
    border-right: solid white;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: solid rgb(255, 255, 255, 0.5);
    justify-content: center;
    background-color: rgb(30,53,109);

}
#input-fullname{
    margin-left: 15px;
    height: 100%;
    width: 100%;
    background-color: rgb(30, 53, 109, 0);
    border:none;
    display: flex;
    color: white;
    align-items: flex-start;
    outline: none;
}
#input-fullname::placeholder{
    color: white;
}
#input-contact{
    color: white;
    height: 80%;
    width: 80%;
    background-color: rgb(30,53,109);
    margin-left: 15px;
    border:none;
    outline: none;
}
#input-contact::placeholder{
    color: white;
}
#contact-innerbox{
    height: 10%;
    display: flex;
    align-items: flex-end;

}
#message-box{
    display: flex;
    height: 10%;



}
#input-message{
    margin-left: 15px;
    height: 100%;
    width: 100%;
    background-color: rgb(30, 53, 109, 0);
    border:none;
    display: flex;
    color: white;
    align-items: flex-start;
    outline: none;
 
}
#input-message::placeholder{
    color: white;
}
#send-button{
    height: 80%;
    width: 80%;
    border-radius: 10%;
    margin-left: 40px;
    border:solid white;


}
#line{
    height: 1px;
    margin: 5px;
}

/*about us*/
#about-main{
    height: 90%;
    width: 60%; 
}
#about-top{
    border-top-left-radius: 1.5cm;
    height: 35%;
    width: 100%;
    display: flex;
    background-color: rgb(30,53,109);
    border-top-right-radius: 1.5cm;
}
#img-teamwork{
    height: 100%;
    width: 50%;
    border-top-left-radius: 1.5cm;
    border-bottom-right-radius: 1.5cm;
    border-top: solid white;
    border-left: solid white;

}
#about-welcome{
    height: 100%;
    width: 50%;
    padding-left: 70px;
    padding-right: 30px;
    background-color: rgb(30,53,109);
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 1.5cm;
    border-top: solid white;
    border-right: solid white;
}
#about-middle{
    height: 30%;
    width: 100%;
    display: flex;
}
#about-us{
    width: 30%;
    background-color: rgb(30,53,109);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-left: solid white;
}
#about-us-text{
    width: 40%;
    background-color: rgb(30,53,109);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-middle-color{
    width: 30%;
    background-color: rgb(30,53,109);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid white;
}
#about-bottom{
    background-color: rgb(30,53,109);
    height: 35%;
    width: 100%;
    display: flex;
    border-bottom-right-radius: 1.5cm;
    border-bottom-left-radius: 1.5cm;

}
#about-bottom-color{
    width: 50%;
    background-color: rgb(30,53,109);
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    border-bottom-left-radius: 1.5cm; 
    border-left: solid white;
    border-bottom: solid white;
}
#img-box-bottom{
    width: 50%;
    border-bottom-right-radius: 1.5cm;
}
#img-teamwork2{
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 1.5cm;
    border-bottom: solid white;
    border-right: solid white;
    border-top-left-radius: 1.5cm;
}

/*sign up*/
#signup-mainbox{
    display: flex;
    height: 90%;
    width: 60%;

    
    
}
#signup-leftbox{
    width: 50%;
    height: 100%;
    border:solid rgb(255, 255, 255, 0.7);
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;

}
#signup-img{
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}
#signup-rightbox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(30,53,109);
    color: white;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border:solid rgb(255, 255, 255, 0.7);
    border-left: none;
    
}
#signup-title{
    margin-left: 50px;
    height: 25%;
    display: flex;
    align-items: center;
    font-size: 40px;
    
}
#signup-email{
    margin-left: 50px;
    height: 10%;
    display: flex;
    align-items: center;
}
#email-input{
    margin-left: 50px;
    margin-right: 50px;
    height: 6%;
    outline: none;
}
#signup-password{
    margin-left: 50px;
    height: 10%;
    display: flex;
    align-items: center;
}
#password-input{
    margin-left: 50px;
    margin-right: 50px;
    height: 6%;
    outline: none;
}
#show-password{
    display: flex;
    margin-left: 50px;
    height: 10%;
    align-items: center
}
#checkbox{
    margin-right: 10px;
}
#signup-button{
    border-radius: 20%;
    margin-left: 50px;
    margin-right: 50px;
    height: 8%;
    justify-content: center;
}

#login-create-toggle{
    color: white;
    margin-left: 245px;
    margin-top: 15px;

}

/* To do listan */ 

#todoUl {height: 600px;
    /* height: calc(100vh - 300px); /*footer 100px, togglenav 80px, header 100px*/
    padding: 5px;
    width: 525px;
    border: 5px white solid;
    border-radius: 25px;
    background-color:rgb(68,140,93);
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-content: center;
}

#todoUl li{
    list-style: none;
    border: 1px white solid;
    border-radius: 10px;
    background-color: rgb(30,53,109);
    color: white;
    padding: 5px;
    margin: 5px;
    width: 500px;
    height:27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* min-height: 27px; */
}

/* TO DO INPUT + BUTTON */
#todoInput {
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 10px;
    width: 390px;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /*  button */
  #todoAddButton {
    margin-top: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 100px;
    background: rgb(30,53,109);
    border: 1px white solid;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
  }
  
  #todoAddButton:hover {
    background-color: #bbb;
  }
    
  .trashcan-div {
      background-color: rgb(30,53,109);
      border-radius: 8px;
      margin: -5px;
      padding: 3px;
  }

  .trashcan-div:hover, .isItCompleted-div:hover, .isItCompleted-div input:hover{
      cursor: pointer;
  }

.isItCompleted-div {
    margin-right: 15px;
    margin-top: 1px;
    float: right;
}

.img-tests {
    width: 200px;
}

#sortCompletedButton {
    background-color:rgb(30,53,109);
    border: 1px white solid;
    border-radius: 5px;
    padding: 4px;
    color: white;
    height: 27px;
    width: 150px;
    margin-top: 5px;
    margin-left: 5px;
}

#sortAlphabetButton {
    background-color:rgb(30,53,109);
    border: 1px white solid;
    border-radius: 5px;
    padding: 4px;
    color: white;
    height: 27px;
    width: 150px;
    margin-top: 5px;
}

#sortLastAddedButton {
    background-color:rgb(30,53,109);
    border: 1px white solid;
    border-radius: 5px;
    padding: 4px;
    color: white;
    height: 27px;
    width: 150px;
    margin-top: 5px;
    margin-right: 5px;
}

.todoBottom {
    border: #555;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}