*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(31,71,72);
}

header{
    height: 20%;
    width: 100%;
    background-color: rgb(30,53,109);
    display: flex;
    justify-content: center;
}
#logo-div {
    display: flex;
    justify-content: center;
}
#header-div {
    display: flex;
    justify-content: center;
}
#logo-div {
    margin:6px 40px;
    align-items: center;
}
#logo-img {
    max-height: 130px;
}
#header-div {
    align-items: center;
}
#header-div h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 50px;
}

main{
    height: 60%;
    width: 100%;
    background-color: rgb(31,71,72);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Notes-page*/
#notes-container {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.note {
    background-color:beige;
    height: 400px;
    width: 300px;
}
*/

/*footer*/
footer{
    background-color: rgb(30,53,109);
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
/*Logo side*/
#logo-box{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer-logo{
    width: 130px;
    height: 130px;
    opacity: 0.7;
    align-items: center;
}
#footer-logo:hover{
    opacity: 1;
}
/*Nav side*/
#nav-box{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;

}
#nav-box-top{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;


}
#nav-box-bottom{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    background-color: #1e356d;
    padding: 15px 0 ;
}

#inner-box{
    background-color: rgb(68,140,93);
    height: 90%;
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20%;
    border: solid white;
    border-color: rgba(255, 255, 255, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#inner-box:hover{
    background-color: rgb(31,71,72);
    border: solid white;
    border-color:rgb(68,140,93);
}
#signup{
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
}
#about{
    height: 80px;
    width: 80px;
}
#contact{
    height: 80px;
    width: 80px;
}
#nav-logos{
    display: flex;
    justify-content: center;

    
}
#nav-logos-signup{
    width: 55px;
    height: 13px;
    margin-bottom: 5px;
    color: white
}
#nav-logos-about{
    width: 70px;
    height: 13px;
    margin-bottom: 5px;
    color: white
}
#nav-logos-contact{
    width: 65px;
    height: 13px;
    margin-bottom: 5px;
    color: white
}
#copy{
    height: 60%;
    width: 87px;
    color: rgb(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
}
#copy:hover{
   color:white;
}

/*Social/download side*/
#social-box{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#social{
    width: auto;
    text-decoration: none;
    height: 20%;
    font-size: 25px;
    color: rgba(189, 191, 196, 0.603);
    font-family: 'Play', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
strong{
    width: 150px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}
#social:hover{
    color: white;
}

/*#Contact*/
#contact-leftside{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(30,53,109);
    color: white;
    border: solid rgb(255, 255, 255, 0.5);
    
}
#contact-header{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#contact-headline{
    margin-top: 15px;
    font-size: 40px;
    padding-left: 50px;
}
#contact-subline{
    font-size: 30px;
    padding-left: 50px;
}
#contact-main{
    height: 80%;
    width: 100%;
    display: flex;
    padding-left: 50px;


}
#contact-contact{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;

}
#contact-phone{
    display: flex;
    height: 33%;
    align-items: center;
}
#contact-email{
    display: flex;
    height: 34%;
    align-items: center;
}
#contact-address{
    display: flex;
    height: 33%;
    align-items: center;
}
#contact-logo{
    display: flex;
    height: 30px;
    width: 30px;
    border:solid white;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 30%;
}
#contact-text{
    height: 25px;
    width: 400px;
    font-size: 20px;
    padding-left: 15px;
    align-items: center;
}



#contact-rightside{

    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: solid rgb(255, 255, 255, 0.5);
    justify-content: center;
    background-color: rgb(68,140,93);

}
#input-contact{
    color: white;
    height: 80%;
    width: 80%;
    background-color: rgb(30, 53, 109, 0);
    margin-left: 15px;
    border:none;
    outline: none;
}
#contact-innerbox{
    height: 10%;
    display: flex;
    align-items: flex-end;

}
#message-box{
    display: flex;
    height: 10%;



}
#input-message{
    margin-left: 15px;
    height: 100%;
    width: 100%;
    background-color: rgb(30, 53, 109, 0);
    border:none;
    display: flex;
    color: white;
    align-items: flex-start;
    outline: none;
 
}

#send-button{
    height: 80%;
    width: 80%;
    border-radius: 10%;
    margin-left: 40px;
    border:solid white;


}
#line{
    height: 1px;
    margin: 5px;
}
/*about us*/

#about-main{
    height: 90%;
    width: 60%;
    border:solid rgb(255, 255, 255, 0.7)
}
#about-top{
    height: 35%;
    width: 100%;
    display: flex;
}
#img-teamwork{
    height: 100%;
    width: 50%;
}
#about-welcome{
    height: 100%;
    width: 50%;
    padding-left: 70px;
    padding-right: 30px;
    background-color:rgb(68,140,93);
    color: rgb(30,53,109);
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-middle{
    height: 30%;
    width: 100%;
    display: flex;
}
#about-us{
    width: 30%;
    background-color:rgb(68,140,93);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30,53,109);
}
#about-us-text{
    width: 40%;
    background-color: rgb(31, 71, 72, 0.5);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-middle-color{
    width: 30%;
    background-color: rgb(30,53,109);
}
#about-bottom{
    height: 35%;
    width: 100%;
    display: flex;
}
#about-bottom-color{
    width: 50%;
    background-color: rgb(30,53,109);
    color: rgb(68,140,93);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}
#img-box-bottom{
    width: 50%;
    background-color:rgb(68,140,93);
}
#img-teamwork2{
    height: 100%;
    width: 100%;
}

/*sign up*/
#signup-mainbox{
    display: flex;
    height: 90%;
    width: 60%;
    border:solid rgb(255, 255, 255, 0.7)
    
}
#signup-leftbox{
    width: 50%;
    height: 100%;
}
#signup-img{
    height: 100%;
    width: 100%;
}
#signup-rightbox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(30,53,109);
    color: white;
}
#signup-title{
    margin-left: 50px;
    height: 25%;
    display: flex;
    align-items: center;
    font-size: 40px;
    
}
#signup-email{
    margin-left: 50px;
    height: 10%;
    display: flex;
    align-items: center;
}
#email-input{
    margin-left: 50px;
    margin-right: 50px;
    height: 6%;
    outline: none;
}
#signup-password{
    margin-left: 50px;
    height: 10%;
    display: flex;
    align-items: center;
}
#password-input{
    margin-left: 50px;
    margin-right: 50px;
    height: 6%;
    outline: none;
}
#show-password{
    display: flex;
    margin-left: 50px;
    height: 10%;
    align-items: center
}
#checkbox{
    margin-right: 10px;
}
#signup-button{
    border-radius: 20%;
    margin-left: 50px;
    margin-right: 50px;
    height: 8%;
    justify-content: center;
}

/* .toggle-nav, alltså Notes eller To-do knapparna */ 
.toggle-nav nav {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.toggle-nav a {
    background-color:  rgb(68,140,93);
    padding: 26px 35px;
    border: 2px white solid;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(43, 39, 39);
    
}

.toggle-nav a:hover {
    background-color: rgba(214, 208, 208, 0.74);
}

/* To do listan */ 
#to-do-list {
    list-style: none;
    background-color: greenyellow;
    padding: 2px;
}

#to-do-list li {
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
    width: 650px;
    
}

#to-do-list li button {
    padding: 0px 10px;
   
}

#c #to-do-list li input {
    width: 550px;
}
    

